@font-face {
    font-family: 'TT Hoves';
    src: url("fonts/TTHoves-Regular.eot");
    src: local('TT Hoves Regular'), local('TTHoves-Regular'),
        url("fonts/TTHoves-Regular.eot?#iefix") format('embedded-opentype'),
        url("fonts/TTHoves-Regular.woff2") format('woff2'),
        url("fonts/TTHoves-Regular.woff") format('woff'),
        url("fonts/TTHoves-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url("fonts/TTHoves-Medium.eot");
    src: local('TT Hoves Medium'), local('TTHoves-Medium'),
        url('TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Medium.woff2') format('woff2'),
        url('TTHoves-Medium.woff') format('woff'),
        url('TTHoves-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url("fonts/TTHoves-Bold.eot");
    src: local('TT Hoves Bold'), local('TTHoves-Bold'),
        url('TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Bold.woff2') format('woff2'),
        url('TTHoves-Bold.woff') format('woff'),
        url('TTHoves-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url("fonts/TTHoves-DemiBold.eot");
    src: local('TT Hoves DemiBold'), local('TTHoves-DemiBold'),
        url('TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-DemiBold.woff2') format('woff2'),
        url('TTHoves-DemiBold.woff') format('woff'),
        url('TTHoves-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url("fonts/TTHoves-ExtraBold.eot");
    src: local('TT Hoves ExtraBold'), local('TTHoves-ExtraBold'),
        url('TTHoves-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-ExtraBold.woff2') format('woff2'),
        url('TTHoves-ExtraBold.woff') format('woff'),
        url('TTHoves-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}




.header-container {
    background-color: #E95258;
}

.header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo menu";
    display: grid;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 2rem;

}


.logo.header {
    display: grid;
    grid-area: logo;
    width: 206px;
    height: 44.87px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-area: menu;
    background-color: rgba(249, 249, 249, 1);
    justify-items: center;
    align-self: center;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.polygon {
    width: 6px;
    height: 6px;
}

.h-menu {
    text-decoration: none;
    color: rgba(50, 73, 94, 1);
    font-family: TT Hoves;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.news {
    display: grid;
    background-color: #F9F9F9;
}

.news-container {
    display: grid;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 4rem;
}

.heading {
    font-family: 'TT Hoves';
    color: rgba(50, 73, 94, 1);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
}

.news-col {
    grid-template-columns: repeat(4 1fr);
    gap: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    display: grid;
    width: 160px;
    height: 50px;
    border: 1px solid #32495E;
    box-sizing: border-box;
    border-radius: 25px;

    font-family: 'TT Hoves';
    color: #32495E;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    background-color: #F9F9F9;
    justify-self: center;
    align-items: center;
    margin-top: 40px;
}

.block-contacts {
    background-color: #f7f4f4;
}

@media screen and (min-width: 768px) {

    /* блок футера */
    .footer {
        background-color: #333333;
        font-family: "TT Hoves";
        height: 302px;
        width: 100%;
        color: #F9F9F9;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "lf ms cont ut";
        width: 80%;
        height: 80%;
        margin: auto;
        padding: 2rem;
    }

    .logo-footer {
        display: grid;
        grid-area: lf;
    }

    .logo-footer__law {
        align-self: end;
        color: #F9F9F9;
        font-family: 'TT Hoves';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

    }

    .logo-footer__img {
        width: 90%;
        height: auto;
    }

    .map-site {
        grid-area: ms;
    }

    .map-site__h1,
    .contacts__h1 {
        font-family: 'TT Hoves';
        font-size: 16px;
        font-style: normal;
        font-weight: 800;

    }

    .map-site__navbar,
    .contacts_call {
        margin-top: 20px;
    }

    .map-site__navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar__footer,
    .contacts_call,
    .contacts_call2,
    .contacts_email {
        text-decoration: none;
        color: #F9F9F9;
        margin-bottom: 10px;
        font-family: TT Hoves;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    .contacts {
        grid-area: cont;
    }

    .contacts_social {
        display: flex;
        margin: 0 -5px;
    }

    .social {
        margin: 0 5px;
    }


    .up {
        grid-area: ut;
        justify-self: end;
    }

    .up_strelka {
        margin-bottom: 1rem;
    }

    .up_text {
        transform: rotate(-90deg);

    }


    /* блок контакты */
    .contacts-map {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.3fr 1.5fr 0.7fr;
        margin: auto;
        grid-gap: 2rem;
        width: 80%;
        padding: 2rem;

    }

    .contacts-map__h2 {
        grid-row: 1/2;
        grid-column: 1/2;
        font-family: TT Hoves;
        font-style: normal;
        font-weight: 800;
        font-size: 3rem;
        color: #32495E;
    }

    .contacts-map__image {
        grid-row: 2/3;
        grid-column: 1/5;
        max-width: 100%;

    }

    .map {
        background: linear-gradient(0deg, rgba(23, 107, 217, 0.2), rgba(23, 107, 217, 0.2));
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
    }

    .contacts-map__h1 {
        font-family: 'TT Hoves';
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
        color: #32495E;
    }

    .contacts-map__adress {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .contacts-map__phone {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .contacts-map__add {
        grid-row: 3/4;
        grid-column: 3/4;
    }

    .contacts-map__descrip {
        font-family: TT Hoves;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        color: #32495E;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 767px) {

    /* блок футер убираю */
    .footer {
        display: none;
    }

    /* блок контакты */
    .contacts-map {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr 0.5fr 0.5fr;
        max-width: 80%;
        margin: auto;
    }

    .contacts-map__h2 {
        grid-row: 1/2;
        font-family: TT Hoves;
        font-style: normal;
        font-weight: 800;
        font-size: 2rem;
        color: #32495E;
    }

    .contacts-map__image {
        grid-row: 2/3;
        max-width: 100%;
    }

    .map {
        background: linear-gradient(0deg, rgba(23, 107, 217, 0.2), rgba(23, 107, 217, 0.2));
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 90%;
    }

    .contacts-map__h1 {
        font-family: 'TT Hoves';
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
        color: #32495E;
    }

    .contacts-map__adress {
        grid-row: 3/4;
    }

    .contacts-map__phone {
        grid-row: 4/5;
    }

    .contacts-map__add {
        grid-row: 5/6;
    }

    .contacts-map__descrip {
        font-family: TT Hoves;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        color: #32495E;
    }
}

/* блок нас рекоммендуют */
.recommend__h2 {
    font-family: TT Hoves;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    color: #32495E;
    grid-area: rh;
}

.recommend-image1 {
    grid-area: ri1;
    max-width: 100%;
}

.recommend-image2 {
    grid-area: ri2;
    max-width: 100%;
}

.recommend-image3 {
    grid-area: ri3;
    max-width: 100%;
}

.recommend-image4 {
    grid-area: ri4;
    max-width: 100%;
}

.recommend-image5 {
    grid-area: ri5;
    max-width: 100%;
}

.recommend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "rh rh rh rh rh"
        "ri1 ri2 ri3 ri4 ri5";
    margin: auto;
    grid-gap: 1rem;
    width: 80%;
    padding: 1rem;
}