@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Regular.eot');
    src: local('TT Hoves Regular'), local('TTHoves-Regular'),
        url('TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Regular.woff2') format('woff2'),
        url('TTHoves-Regular.woff') format('woff'),
        url('TTHoves-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Medium.eot');
    src: local('TT Hoves Medium'), local('TTHoves-Medium'),
        url('TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Medium.woff2') format('woff2'),
        url('TTHoves-Medium.woff') format('woff'),
        url('TTHoves-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Bold.eot');
    src: local('TT Hoves Bold'), local('TTHoves-Bold'),
        url('TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Bold.woff2') format('woff2'),
        url('TTHoves-Bold.woff') format('woff'),
        url('TTHoves-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-DemiBold.eot');
    src: local('TT Hoves DemiBold'), local('TTHoves-DemiBold'),
        url('TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-DemiBold.woff2') format('woff2'),
        url('TTHoves-DemiBold.woff') format('woff'),
        url('TTHoves-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-ExtraBold.eot');
    src: local('TT Hoves ExtraBold'), local('TTHoves-ExtraBold'),
        url('TTHoves-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-ExtraBold.woff2') format('woff2'),
        url('TTHoves-ExtraBold.woff') format('woff'),
        url('TTHoves-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


.footer {
    background-color: #333333;
    font-family: TT Hoves;
    height: 302px;
    width: 100%;
    color: #F9F9F9;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "lf ms cont ut";
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 2rem;
}

.logo-footer {
    display: grid;
    grid-area: lf;
}

.logo-footer__law {
    align-self: end;
    color: #F9F9F9;
}

.map-site {
    grid-area: ms;
}

.map-site__h1,
.contacts__h1 {
    font-family: TT Hoves;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;

}

.map-site__navbar,
.contacts_call {
    margin-top: 20px;
}

.map-site__navbar {
    display: flex;
    flex-direction: column;
}

.navbar__footer,
.contacts_call,
.contacts_call2,
.contacts_email {
    text-decoration: none;
    color: #F9F9F9;
    margin-bottom: 10px;
    font-family: TT Hoves;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.contacts {
    grid-area: cont;
}

.contacts_social {
    display: flex;
    margin: 0 -5px;
}

.social {
    margin: 0 5px;
}


.up {
    grid-area: ut;
    justify-self: end;
}

.up_strelka {
    margin-bottom: 1rem;
}

.up_text {
    transform: rotate(-90deg);

}